.container{
    display: flex;
    flex-direction: column;
    justify-content: center;

    .subContainer{
        width:100vw;
        display: flex;
        justify-content: center;

       .innerContent{
           width: 80vw;
           
           @media screen and (max-width:769px) {
               width: 100vw; 
           }
       }
    }
}